@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply px-3 py-1.5 m-0.5 text-sm rounded bg-gray-300 text-gray-700;

    &:disabled {

        @apply opacity-70 cursor-not-allowed;
    }
}

.border-red-200 {
    --tw-border-opacity: 1;
    border-color       : rgb(254 202 202 / var(--tw-border-opacity));
}

.border-teal-200 {
    --tw-border-opacity: 1;
    border-color       : rgb(153 246 228 / var(--tw-border-opacity));
}

.bg-red-50 {
    --tw-bg-opacity : 1;
    background-color: rgb(254 242 242 / var(--tw-bg-opacity));
}

.bg-teal-50 {
    --tw-bg-opacity : 1;
    background-color: rgb(240 253 250 / var(--tw-bg-opacity));
}

.text-red-400 {
    --tw-text-opacity: 1;
    color            : rgb(248 113 113 / var(--tw-text-opacity));
}

.text-teal-400 {
    --tw-text-opacity: 1;
    color            : rgb(45 212 191 / var(--tw-text-opacity));
}

.text-red-800 {
    --tw-text-opacity: 1;
    color            : rgb(153 27 27 / var(--tw-text-opacity));
}

.text-teal-800 {
    --tw-text-opacity: 1;
    color            : rgb(17 94 89 / var(--tw-text-opacity));
}

.text-teal-500 {
    --tw-text-opacity: 1;
    color            : rgb(20 184 166 / var(--tw-text-opacity));
}

.text-red-500 {
    --tw-text-opacity: 1;
    color            : rgb(239 68 68 / var(--tw-text-opacity));
}